@import url("/usr/share/themes/Yaru-prussiangreen-dark/gnome-shell/gnome-shell.css");

stage {
  font-size: 10pt;
}

#panel {
  height: 32px;
  font-family: "Open Sans Semibold" !important;
}


* {
  font-weight: normal !important;
  text-shadow: none !important;
 }
 

